@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    color: theme('colors.white');
    font-family: 'Outfit', sans-serif;
    background-color: theme('colors.primary');
    overflow: hidden;
}